html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 .border{
    background-color: rgba(51, 39, 39, 0.664);
    margin: 10px 450px 0px 300px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    
 }
 
 .screen{
  border: 3px solid #555;
  width:90%;
  font-size: 50px;
  padding: 10px;
  margin: 20px 30px 10px 10px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border:none;
  border-radius: 4px;
 }
 
 .buttons{
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear;
 }
 
 button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1px;
  margin: 2px 2px;
  cursor: pointer;
 }
 button:hover{
  background: blue;
 }
 .opt{
  margin: 0px 10px 10px 10px;
  padding: 30px 50px 30px 50px;
  background: rgb(245, 62, 147);
  border-radius: 25px;
  color: white;
 }
 .char{
   margin: 0px 0px 10px 13px;
   padding: 30px 50px 30px 50px;
  background: rgb(163, 157, 157);
  border-radius: 25px;
 }
 .btn,.btn-equal,.btn-clear{
  font-size: 30px;
 }
 .btn-equal{
  background: rgb(92, 13, 196);
 }
 .btn-clear{
  background: rgb(5, 218, 255);
 }