/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';




.box1, .box2, .box3

{
    margin-left: 50px;
    
    margin-bottom: 15px;
}

input[type="number"] {
    
    box-sizing: border-box;
    height: 60px;
    width: 90%;
    padding:1rem;
    border-radius: 1em;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
   

  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button 
  {
  -webkit-appearance: none;
   margin: 0;
}

  .button {
  width: 110px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 20px;
  margin-bottom: 1rem;
  }

  .btn
  {
    width: 90%;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    
  }


  button:hover{
    background-color: rgba(165, 25, 230, 0.733);
    color: white;
  }

  


  .container {
    width: 600px;
    height: 500px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
    overflow: hidden;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 30px;
    padding-top: 40px;
    box-shadow: 0px 10px 19px rgba(88, 88, 88, 0.5);
  }

  .title
  {
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;

  }

  .body {

background-color: rgb(252, 198, 234);
  }

  