

<h1 class = "title"><i class="fa fa-calculator" aria-hidden="true"></i> ANGULAR CALCULATOR</h1>
<!--
<div class = "container">
    <app-numbers
    (finalAnswer)="getRes($event)"
    (fNumVal)="getfirstNum($event)"
    (sNumVal)="getsecNum($event)"
    >
    </app-numbers>


    <app-operations
    (operation)="getOperation($event)"
   
    >
    </app-operations>

   
    <app-result
 
    [finalAns]="answer"
    [fNum]="fNUM"
    [sNum]="sNUM"
    [choice]="op"

    >
    </app-result>
-->

    <div class = "container">
        <app-numbers>
        </app-numbers>
    
    
        <app-operation>
        </app-operation>
    
       
        <app-result>
        </app-result>
       