@font-face {
    font-family: "cocogoose";
    src: url("Cocogoose\ Pro-trial.ttf");
    }

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: cocogoose;

}
body
{
    overflow: hidden;
}

section
{
position: relative;
width: 100%;
min-height: 100vh;
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;


}

header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 100px;
    margin-left: 40px;

}
header ul
{
    position: relative;
    display: flex;
}
header ul li 
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 50px;
    text-decoration: none;
}
.content
{
    position:center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.imgBox .studying
{
    max-width: 550px;
    
    
    margin-top: 50px;
}
.content .textBox
{
    position: relative;
    max-width: 500px;
}
.content .textBox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span
{
    color: #5E17EB;
    font-size: 1em;
    font-weight: 900;
}

.content .textBox p
{
    color: #333;

}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #5E17EB;
    color: #fff;
    border-radius: 40px;
    font-weight: 1px;
    letter-spacing: 1px;
    text-decoration: none;
}
